# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/
dist/
dist-ssr/
*.local

# Audio files (temporary or generated)
*.wav
*.webm
*.mp3

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env/
models/

# Models
Google_Speech_Data/
pytorch_model.bin
spkrec_model
Dataset
split_audio.py